.headerTest {
  background-color: rgba(255, 99, 71, 0.2); // Напівпрозорий червоний
  border: 2px dashed tomato;
  padding: 2rem;
  text-align: center;
  border-radius: 12px;
  margin-bottom: 2rem; // Відступ до нашої сітки з колонками
}