.logoBox {
  a {
    display: flex;
    align-items: center;
    text-decoration: none;
  }
}

.logo {
  &.md {
    width: 75px;
    margin-right: 15px;
  }
}

.label {
  font-weight: 600;
  color: white;
  &.md {
    font-style: 18px;
    line-height: 2.6;
  }
}

@media (max-width: 768px) {
  .logo {
    &.md {
      width: 50px;
    }
  }
}