.cardsList {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 4%;
  row-gap: 32px;
}

.title {
  margin-bottom: 70px;
  
  font-size: 40px;
  line-height: 2;
  letter-spacing: 1%;
  vertical-align: middle;
  color: white;
}

@media (max-width: 1024px) {
  .CardsList {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 425px) {
  .CardsList {
    grid-template-columns: repeat(1, 1fr);
  }
}
