.Title {
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  margin-bottom: 15px; 
}

.Picture {
  width: 100%;
  max-width: 250px; 
  aspect-ratio: 1 / 1; 
  object-fit: cover; 
  display: block;
  margin: 0 auto; 
  border-radius: 16px;
}

.Label {
  display: flex;
  justify-content: center;
  font-size: 15px;
  line-height: 2;
  margin-top: 10px;
  color: #a0a0a0; 
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.85); /* Напівпрозорий темний фон */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999; /* Щоб точно перекрити хедер і все інше */
  cursor: zoom-out; /* Показує користувачу, що клік сюди зменшить/закриє картинку */
}

.fullImage {
  max-width: 90vw; /* Максимальна ширина — 90% від вікна браузера */
  max-height: 90vh; /* Максимальна висота — 90% від вікна браузера */
  object-fit: contain; /* Картинка масштабується пропорційно і не обрізається */
  
  /* За бажанням — можна додати легку тінь, щоб відірвати картинку від фону */
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5); 
  border-radius: 4px;
  cursor: default; /* Щоб на самій картинці курсор був звичайним */
}